body {
  background-color: aqua;
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
}

.app-header {
  background-color: rgb(238, 124, 162);
  line-height: 50px;
  padding: 20px;
  top: 0;
  left: 0;
  right: 0;
  color: white;
}

.app-title {
  font-size: 50px;
}
